/*button.css 공통 버튼 스타일*/
.primary-btn {
  width: 100%;
  padding: 14px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
}

.secondary-btn {
  width: 100%;
  padding: 14px;
  background-color: #e5e7eb;
  color: #111;
  border-radius: 12px;
  border: none;
}
