/*confirm-modal.css 예약 확인 전용*/
.confirm-box {
  border: 2px solid #facc15;
  background-color: #fffbea;
  border-radius: 14px;
  padding: 14px;
  text-align: center;
  font-family: "GmarketMedium";
  margin-bottom: 12px;
}

.confirm-next {
  width: 100%;
  margin-top: 16px;
  padding: 14px;
  border-radius: 14px;
  background-color: #facc15;
  border: none;
  font-size: 15px;
  font-family: "GmarketBold";
  cursor: pointer;
}
