/* layout.css */
/* ===== 공통 컨테이너 ===== */
.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
}

/* ===== 헤더 ===== */
.header {
  width: 100%;
  height: 55px;
  background-color: #212121;
  position: sticky;
  display: flex;
  align-items: center;
  justify-items: center;
  z-index: 1000;
  top: 0;
  max-width: 500px;
  margin: 0 auto;
}

.header-inner {
  width: 100%;
  position: relative;
  height: 32px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.adminbutton {
  margin-right: 50vw;
}

/* 중앙 로고 */
.header-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
}

/* 오른쪽 예약 내역 버튼 */
.history-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #d1d5db;
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px; /* ✅ 여기서 미세 조절 */
}

.admin-btn {
  margin-left: 8px;
}

/* ===== 상단 안내 영역 ===== */
.intro-section {
  text-align: center;
  margin: 24px 0 20px;
}

.intro-title {
  font-size: 18px;
  line-height: 1.5;
  font-family: "GmarketMedium";
  color: #2d2e35;
  margin-bottom: 16px;
  font-weight: 700;
}

/* 공지 박스 */
.notice-box {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  padding: 10px 14px;
  border: 2px solid #facc15;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 700;
  color: #374151;
  max-width: 360px;
  margin: 0 auto;
}

.notice-box-span2 {
  color: #7c818d;
}

.notice-icon {
  font-size: 14px;
  color: #6b7280;
}

/* ===== 섹션 헤더 (회의실 선택) ===== */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 0 12px;
}

.section-header h2 {
  font-size: 20px;
  font-family: "GmarketBold";
}

.close-btn {
  background: none;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
}

.admin-btn {
  border-radius: 8px;
  border: 1px solid #facc15;
  color: #fff;
  font-style: 5px;
  font-weight: 600;
}
